body{
    background-color: purple;
    text-align: center;
    
}
p{
    color: white;
}
button
{
    background-color: gold;
    border-color: gold;
}
/*.class or #id for formatting*/
#fortune
{
    color:white;
}

.center
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}